img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 24px;
    border: 24px;
    border-color: antiquewhite;
}

body {
    background-color: rgb(2, 22, 4);
    margin: auto;
    margin-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(228, 228, 227);
}


div {
    align-items: center;
    text-align: center;
}

a {
    color: deeppink;
}

.link {
    margin-top: 48px;
}